@font-face {
	font-family: "Rajdhani";
	src: url("../fonts/rajdhanibold.woff2") format("woff2"),
		url("../fonts/rajdhanibold.woff") format("woff");
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: "Rajdhani";
	src: url("../fonts/rajdhanimedium.woff2") format("woff2"),
		url("../fonts/rajdhanimedium.woff") format("woff");
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: "Rajdhani";
	src: url("../fonts/rajdhani.woff2") format("woff2"),
		url("../fonts/rajdhani.woff") format("woff");
	font-weight: 400;
	font-display: swap;
}
