// Colors
$primary-white: #FFF;
$primary-gray-blue: #8A94A6;
$primary-gray-light: #E1E6ED;
$primary-violet: #192B3F;
$sandy: #C9B8A8;
$blue: #3D5876;
$border-color: #E1E6ED;
$btn-hover: #2E4055;
$btn-active: #3B536D;
$disabled: #D5D5D5;
