.button {
	display: flex;
	margin: 0 auto;
	padding: 12px 94px;
	@include font-family;
	font-size: 24px;
	font-weight: 500;
	border: none;
	background-color: $primary-violet;
	color: $primary-white;
	cursor: pointer;

	&:hover {
		background-color: $btn-hover;
	}

	&:active {
		background-color: $btn-active;
	}
}
