section(class="similar-collection")
	h2(class="similar-collection__title") Similar collections
	div(class="similar-collection__link-wrap")
		a(class="similar-collection__link" href="#")
			picture
				source(media="(min-width: 1360px)" srcset="img/kingsman-style-desktop-img.jpg")
				source(media="(min-width: 720px)" srcset="img/kingsman-style-tablet-img.jpg")
				img(class="similar-collection__img" src="img/kingsman-style-mob-img.jpg")
			div(class="similar-collection__text-wrap")
				p(class="similar-collection__text") Kingsman style
				p(class="similar-collection__text-two") More silk, more freedom
		a(class="similar-collection__link" href="#")
			picture
				source(media="(min-width: 1360px)" srcset="img/denim-goddess-desktop-img.jpg")
				source(media="(min-width: 720px)" srcset="img/denim-goddess-tablet-img.jpg")
				img(class="similar-collection__img" src="img/denim-goddess-mob-img.jpg")
			div(class="similar-collection__text-wrap")
				p(class="similar-collection__text") Denim goddess
				p(class="similar-collection__text-two") More denim, more freedom
