main(class="main-page")
	section(class="slider")
		include slider/index.pug
	section(class="order")
		include form/index.pug

		include similar-collection/index.pug

		include form-subscribe/index.pug
